@font-face {
  font-family: "Symbola";
  src: local("☺︎"), url("chrome-extension://__MSG_@@extension_id__/Symbola_hint.woff") format("woff");
}

/* Emoji Symbols Font (C) Blockworks - Kenichi Kaneko http://emojisymbols.com/ */
@font-face {
  font-family: "EmojiSymbols";
  src: local("☺︎"), url("chrome-extension://__MSG_@@extension_id__/EmojiSymbols-Regular.woff") format("woff");
}
